<ion-content>
  <div class="message" *ngIf="nlists == 0">
    <h5>No has creado ninguna lista</h5>
    <h6>¿Deseas crear una con la canción elegida?</h6>
    <ion-icon color="app" name="add-circle" (click)="createList()"></ion-icon>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of lists" text-wrap (click)="addTrackToList(item)">
      <ion-thumbnail item-left>
        <img src="{{item.coverpage}}">
      </ion-thumbnail>

      <ion-note *ngIf="item.privacy == 'Privada'" color="app">
        <ion-icon name="lock"></ion-icon>
      </ion-note>
      <h2>{{item.title}}</h2>

      <button color="app" ion-button item-right icon-left clear>
        <ion-icon name="pulse"></ion-icon>
        {{item.ntracks}}
      </button>
    </ion-item>
  </ion-list>
  <div class="cancel">
    <button no-margin color="app" ion-button full (click)="close()">Cancelar</button>
  </div>
</ion-content>