<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="card-background-page">
  <ion-navbar color="white">
    <ion-title>Perfil</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="goTabs()">
        <ion-icon color="app" name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-item no-lines text-wrap>
    <ion-avatar item-left>
      <img class="profile-img" src="{{user.profile_image}}" />
    </ion-avatar>
    <h2>{{user.name}}</h2>
    <p>{{user.country}}</p>
    <div *ngIf="user.$key != currentUser" item-right>
      <button *ngIf="!isFollowed" ion-button small icon-left color="app" (click)="followUser()">
        <ion-icon name="person-add" ></ion-icon>
        Seguir
      </button>
      <button *ngIf="isFollowed" ion-button small icon-left outline color="app" (click)="unFollowUser()">
        <ion-icon name="done-all" ></ion-icon>
        Siguiendo
      </button>
    </div>
  </ion-item>

  <ion-toolbar color="white">
    <ion-segment [(ngModel)]="profile" color="app">
      <ion-segment-button value="tracks">
        <ion-icon name="headset"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="lists">
        <ion-icon name="albums"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="data">
        <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="profile">
    <ion-list *ngSwitchCase="'tracks'">
      <ion-list-header>
        <h2>Pistas</h2>
      </ion-list-header>

      <ion-card class="card-width" no-margin margin-bottom *ngFor="let track of tracks_filter; let i = index">
        <div (click)="viewTrack(track.$key)">
          <img class="image" src="{{track.cover_page}}">
          <div class="card-title">{{track.title}}</div>
          <div class="card-subtitle">{{track.artist}}</div>
        </div>
        <ion-card-content>
          <ion-item no-padding>
            <ion-note item-start color="grey1">
              #{{track.tag}}
            </ion-note>

            <ion-note item-end *ngIf="track.privacy == 'Privada'" color="grey1">
              <ion-icon name="lock"></ion-icon>
            </ion-note>
          </ion-item>
        </ion-card-content>

        <ion-row>
          <ion-col col-3>
            <button *ngIf="isLike[i]" color="grey2" ion-button icon-left clear (click)="disLikeTrack(track.$key)">
          <ion-icon color="danger" name="heart"></ion-icon>
          <div>{{track.likes}}</div>
        </button>
            <button *ngIf="!isLike[i]" color="grey2" ion-button icon-left clear (click)="likeTrack(track.$key)">
          <ion-icon name="heart"></ion-icon>
          <div>{{track.likes}}</div>
        </button>
          </ion-col>
          <ion-col col-3>
            <button *ngIf="isRepost[i]" color="grey2" ion-button icon-left clear (click)="unRepostTrack(track.$key)">
          <ion-icon color="app" name="repeat"></ion-icon>
          <div>{{track.reposts}}</div>
        </button>
            <button *ngIf="!isRepost[i]" color="grey2" ion-button icon-left clear (click)="repostTrack(track)">
          <ion-icon name="repeat"></ion-icon>
          <div>{{track.reposts}}</div>
        </button>
          </ion-col>
          <ion-col col-3>
            <button color="grey2" ion-button icon-left clear (click)="comments(track.$key)">
          <ion-icon name="chatboxes"></ion-icon>
          <div>{{track.comments}}</div>
        </button>
          </ion-col>
          <ion-col col-3>
            <button color="grey2" ion-button icon-right clear (click)="more(track)">
          <ion-icon name="more"></ion-icon>
        </button>
          </ion-col>

        </ion-row>

      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'lists'">
      <ion-list-header>
        <h2>Listas</h2>
      </ion-list-header>

      <ion-card class="card-width" no-margin margin-bottom *ngFor="let list of lists_filter" (click)="goToTracksList(list.$key, list.title)">

        <img class="image" src="{{list.coverpage}}">
        <div class="card-title-list">{{list.title}}</div>
        <div class="card-subtitle-list">{{list.creator}}</div>
        <div class="card-ntracks-list" *ngIf="list.ntracks == 1">{{list.ntracks}} PISTA</div>
        <div class="card-ntracks-list" *ngIf="list.ntracks != 1">{{list.ntracks}} PISTAS</div>
        <div class="card-privacy-list" *ngIf="list.privacy == 'Privada'">
          <ion-icon name="lock"></ion-icon>
        </div>

      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'data'">
      <ion-item (click)="viewUsers(user, 'Seguidores')">
        <h2>Seguidores</h2>
        <button color="app" item-right ion-button icon-right clear>
          <p>{{nfollowers}}</p>
          <ion-icon color="app" name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-item>
      <ion-item (click)="viewUsers(user, 'Siguiendo')">
        <h2>Siguiendo</h2>
        <button color="app" item-right ion-button icon-right clear>
          <p>{{nfollowing}}</p>
          <ion-icon color="app" name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>