<ion-content>
  <button class="close-button" large color="white" ion-button icon-only clear (click)="close()">
    <ion-icon name="ios-arrow-down"></ion-icon>
  </button>
  <img class="image" src="{{cover_page}}">
  <div class="card-title">{{title}}</div>
  <div class="card-subtitle" (click)="profileView($event)">{{artist}}</div>

  <ion-row class="buttons">
    <ion-col col-3>
      <button *ngIf="isLike" color="white" ion-button icon-left clear (click)="disLikeTrack()">
          <ion-icon color="danger" name="heart"></ion-icon>
          <div>{{nlikes}}</div>
        </button>
      <button *ngIf="!isLike" color="white" ion-button icon-left clear (click)="likeTrack()">
          <ion-icon name="heart"></ion-icon>
          <div>{{nlikes}}</div>
        </button>
    </ion-col>
    <ion-col col-3>
      <button *ngIf="isRepost" color="white" ion-button icon-left clear (click)="unRepostTrack()">
          <ion-icon color="app" name="repeat"></ion-icon>
          <div>{{nreposts}}</div>
        </button>
      <button *ngIf="!isRepost" color="white" ion-button icon-left clear (click)="repostTrack()">
          <ion-icon name="repeat"></ion-icon>
          <div>{{nreposts}}</div>
        </button>
    </ion-col>
    <ion-col col-3>
      <button color="white" ion-button icon-left clear (click)="comments()">
          <ion-icon name="chatboxes"></ion-icon>
          <div>{{ncomments}}</div>
        </button>
    </ion-col>
    <ion-col col-3>
      <button color="white" ion-button icon-right clear (click)="more()">
          <ion-icon name="more"></ion-icon>
        </button>
    </ion-col>

  </ion-row>

</ion-content>

<ion-footer>
  <audio controls>
    <source src="{{audio}}" type="audio/mp3">
  </audio>
</ion-footer>