page-start {
    ion-content {
        background-image: url('../assets/img/cover.png');
        background-size: cover;
        background-position: center;
    }

    .logo {
        height: 50%;
        width: 100%;
        .logo-icon {
            text-align: center;
            font-size: 40px;
            padding-top: 30%;
            color: white;
        }
    }

    .social-btn {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .sign-up-btn {
        margin-top: 130%;
        margin-left: 10%;
        width: 35%;
    }

    .log-in-btn {
        margin-top: 130%;
        margin-left: 10%;
        width: 35%;
    }
}
