<ion-content>

  <div class="logo">
    <div class="logo-icon">
      LOGO
    </div>
  </div>

  <button *ngIf="!isClicked" ion-button color="light" class="sign-up-btn" (click)="openSignUp()">Registrarse</button>
  <button *ngIf="!isClicked" ion-button color="light" class="log-in-btn" (click)="openLogin()">Iniciar sesión</button>

  <button *ngIf="!isClicked" ion-button icon-left block color="facebook" class="social-btn" (click)="signInWithFacebook()">
      <ion-icon name="logo-facebook"></ion-icon>
      Iniciar sesión con Facebook
    </button>
  <button *ngIf="!isClicked" ion-button icon-left block color="danger" class="social-btn" (click)="signInWithGoogle()">
      <ion-icon name="logo-googleplus"></ion-icon>
      Iniciar sesión con Google+
    </button>

</ion-content>