<ion-content>

  <button *ngIf="!isClicked" ion-button color="light" class="sign-up-btn" (click)="openSignUp()">Registrarse</button>
  <button *ngIf="!isClicked" ion-button color="app" class="log-in-btn" (click)="openLogin()">Iniciar sesión</button>

  <ion-row *ngIf="!isClicked" margin-top>
    <ion-col col-2 offset-2>
      <button ion-button icon-only class="social-btn" color="facebook" (click)="signInWithFacebook()">
            <ion-icon color="light" name="logo-facebook"></ion-icon>
          </button>
    </ion-col>
    <ion-col col-2 offset-1>
      <button ion-button icon-only class="social-btn" color="danger">
            <ion-icon color="white" name="logo-googleplus"></ion-icon>
          </button>
    </ion-col>
    <ion-col col-2 offset-1>
      <button ion-button icon-only class="social-btn" color="twitter">
            <ion-icon color="light" name="logo-twitter"></ion-icon>
          </button>
    </ion-col>
  </ion-row>

</ion-content>