page-start {
    ion-content {
        background-image: url('../assets/img/start.jpg');
        background-size: cover;
    }

    .logo {
        height: 50%;
        width: 100%;
        .logo-icon {
            text-align: center;
            font-size: 40px;
            padding-top: 30%;
            color: white;
        }
    }

    .social-btn {
        margin: auto;
        width: 95%;
        margin-bottom: 10px;
    }

    .sign-up-btn {
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 50px;
        width: 35%;
    }

    .log-in-btn {
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 50px;
        width: 35%;
    }
}
