<ion-content>
    <!--<ion-toolbar>
        <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar por etiqueta"></ion-searchbar>
    </ion-toolbar>

    <ion-list>

        <ion-item-group *ngFor="let tags of tracks">
            <ion-item-divider color="light">{{ tags.tagName }}</ion-item-divider>
            <button ion-item *ngFor="let track of tags.trackTags">{{ track.title }}</button>
        </ion-item-group>

    </ion-list>-->

    <ion-toolbar color="light">
        <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar"></ion-searchbar>
    </ion-toolbar>

    <ion-toolbar color="light">
        <ion-segment [(ngModel)]="search" color="app">
            <ion-segment-button value="tracks">
                <ion-icon name="musical-notes"></ion-icon>
            </ion-segment-button>

            <ion-segment-button value="people">
                <ion-icon name="people"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <div [ngSwitch]="search">
        <ion-list *ngSwitchCase="'tracks'">

            <ion-item *ngFor="let track of tracks" text-wrap (click)="viewTrack(track.$key)">
                <ion-avatar item-left>
                    <img src="{{track.cover_page}}">
                </ion-avatar>
                <h2>{{track.title}}</h2>
                <p>{{track.artist}}</p>
                <ion-icon item-right name="pulse" color="app"></ion-icon>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'people'">
            <ion-item *ngFor="let user of users; let i = index" (click)="profileView($event, user)">
                <ion-avatar item-left>
                    <img src="{{user.profile_image}}">
                </ion-avatar>
                <h2>{{user.name}}</h2>
                <p>{{user.country}}</p>
                <button *ngIf="!isFollowed[i]" ion-button small item-right color="app" (click)="followUser(user.$key)">
                    <ion-icon name="person-add" ></ion-icon>
                </button>
                <button *ngIf="isFollowed[i]" ion-button small item-right outline color="app" (click)="unFollowUser(user.$key)">
                    <ion-icon name="done-all" ></ion-icon>
                </button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>