<ion-content class="forgot-password">
    <h2 class="reset-password-header">¿Has olvidado tu contraseña?</h2>
    <div padding class="reset-password-txt">
      <h6>Por favor introduzca su dirección de email y le enviaremos un enlace para cambiar su contraseña.</h6>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="reset()" novalidate>

      <ion-item>
        <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
        <p color="danger" ion-text *ngIf="myForm.get('email').hasError('required')">Campo requerido</p>
        <p color="danger" ion-text *ngIf="myForm.get('email').hasError('email')">Formato email no válido</p>
      </ion-item>

      <button ion-button class="cancel-btn" color="light" type="reset" (click)="close()">Cancelar</button>
      <button ion-button class="forgot-password-btn" color="app" type="submit" [disabled]="myForm.invalid">Enviar</button>
    </form>
</ion-content>