page-forgot-password {
    .forgot-password {
        background-color: #2A3034;
        
        .reset-password-txt {
            color: white;
        }

        .reset-password-header {
            color: white;
            text-align: center;
        }

        .forgot-password-btn {
            margin-top: 5%;
            margin-left: 15%;
            width: 25%;
        }

        .cancel-btn {
            margin-top: 5%;
            margin-left: 15%;
            width: 30%;
        }

        ion-item {
            background-color: #2A3034;
            color: white;
        }
    }
}
