page-menu {
    .profile-img{
        width: 100px !important;
        height: 100px !important;
    }

    .copyright{
        text-align: center;
        font-size: 1rem;
    }

    .divider{
        min-height: 20px !important;
        height: 20px !important;
    }
}
