page-menu {
    .no-img{
    background-image: none !important;
    background-color: #f4f4f4;
    }
    .profile-img{
        width: 80px !important;
        height: 80px !important;
    }

    .copyright{
        text-align: center;
        font-size: 1rem;
    }

    .divider{
        min-height: 20px !important;
        height: 20px !important;
    }
}
